.vid-bg {
  position: absolute;
  width: 100%;
  height: calc(100vh - 120px);
  top: 0;
  left: 0;
  z-index: -1;
}

.vid-bg > .overlay {
  background-color: #2b2b2b;
  position: absolute;
  opacity: .9;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.vid-bg > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
