/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

@font-face {
  font-family: "josefin-sans";
  src: url("assets/font/josefin-sans/JosefinSans-Bold.ttf"),
    url("assets/font/josefin-sans/JosefinSans-BoldItalic.ttf"),
    url("assets/font/josefin-sans/JosefinSans-ExtraLight.ttf"),
    url("assets/font/josefin-sans/JosefinSans-ExtraLightItalic.ttf"),
    url("assets/font/josefin-sans/JosefinSans-Italic.ttf"),
    url("assets/font/josefin-sans/JosefinSans-Light.ttf"),
    url("assets/font/josefin-sans/JosefinSans-LightItalic.ttf"),
    url("assets/font/josefin-sans/JosefinSans-Medium.ttf"),
    url("assets/font/josefin-sans/JosefinSans-MediumItalic.ttf"),
    url("assets/font/josefin-sans/JosefinSans-Regular.ttf"),
    url("assets/font/josefin-sans/JosefinSans-SemiBold.ttf"),
    url("assets/font/josefin-sans/JosefinSans-SemiBoldItalic.ttf"),
    url("assets/font/josefin-sans/JosefinSans-Thin.ttf"),
    url("assets/font/josefin-sans/JosefinSans-ThinItalic.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "quicksand";
  src: url("assets/font/quicksand/Quicksand-Bold.ttf"),
    url("assets/font/quicksand/Quicksand-Light.ttf"),
    url("assets/font/josefin-sans/JosefinSans-Medium.ttf"),
    url("assets/font/josefin-sans/JosefinSans-Regular.ttf"),
    url("assets/font/josefin-sans/JosefinSans-SemiBold.ttf");
  font-weight: normal;
}

#root {
  /* background-image: url('./assets/image/dragon.jpg'); */
  /* background-size:auto; */
  width: 100vw;
  height: 100vh;
  /* background: #032d33;
  background: linear-gradient(
    180deg,
    rgba(3, 45, 51, 1) 0%,
    rgba(33, 17, 128, 1) 30%,
    rgba(10, 100, 110, 1) 100%
  ); */
  font-family: "quicksand";
  /* z-index: -1; */
  padding-top: 120px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}