@font-face {
  font-family: "josefin-sans";
  src: url("assets/font/josefin-sans/JosefinSans-Bold.ttf"),
    url("assets/font/josefin-sans/JosefinSans-BoldItalic.ttf"),
    url("assets/font/josefin-sans/JosefinSans-ExtraLight.ttf"),
    url("assets/font/josefin-sans/JosefinSans-ExtraLightItalic.ttf"),
    url("assets/font/josefin-sans/JosefinSans-Italic.ttf"),
    url("assets/font/josefin-sans/JosefinSans-Light.ttf"),
    url("assets/font/josefin-sans/JosefinSans-LightItalic.ttf"),
    url("assets/font/josefin-sans/JosefinSans-Medium.ttf"),
    url("assets/font/josefin-sans/JosefinSans-MediumItalic.ttf"),
    url("assets/font/josefin-sans/JosefinSans-Regular.ttf"),
    url("assets/font/josefin-sans/JosefinSans-SemiBold.ttf"),
    url("assets/font/josefin-sans/JosefinSans-SemiBoldItalic.ttf"),
    url("assets/font/josefin-sans/JosefinSans-Thin.ttf"),
    url("assets/font/josefin-sans/JosefinSans-ThinItalic.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "quicksand";
  src: url("assets/font/quicksand/Quicksand-Bold.ttf"),
    url("assets/font/quicksand/Quicksand-Light.ttf"),
    url("assets/font/josefin-sans/JosefinSans-Medium.ttf"),
    url("assets/font/josefin-sans/JosefinSans-Regular.ttf"),
    url("assets/font/josefin-sans/JosefinSans-SemiBold.ttf");
  font-weight: normal;
}

#root {
  /* background-image: url('./assets/image/dragon.jpg'); */
  /* background-size:auto; */
  width: 100vw;
  height: 100vh;
  /* background: #032d33;
  background: linear-gradient(
    180deg,
    rgba(3, 45, 51, 1) 0%,
    rgba(33, 17, 128, 1) 30%,
    rgba(10, 100, 110, 1) 100%
  ); */
  font-family: "quicksand";
  /* z-index: -1; */
  padding-top: 120px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}